# **Project Name**
$\color{red}{\text{DPDzero Data Assignment}}$

# **Project Summary**

**Data Processing**

    1.Importing libraries
    2.Function for reading dataset
    3.dataset information 
    4.Missing values,Duplicated values

**Exploratory Data Analysis**

**Supervised Machine learning Algorithm**

```
# This is formatted as code
```

# **Problem Statement**

# **Data overview and column description**

**There are two dataset needed for the project**

## **portfolio data** 
**This contains the details on loans given to few customers and their demographic information**

| Column          | Description     |
| --------------- | --------------- |
| Loan Number     | Loan Number given to each customer  |
| Due Date        |  Repaying dae of loan by the customer |
| State           |  origin of state of each customer |
| DOB             |Date of birth of the customer   |
| Loan Amount     | Loan amount given to each customer |

## **Communication History**
**The attempts made to reach out to these customers and the status of these calls.**

| Column          | Description     |
| --------------- | --------------- |
| Loan Number     | Loan Number given to each customer  |
| Campaign ID     |  Campaign ID by the bank  |
|Communication Operator Message ID  |  operator Id for each communication done in messages |
| Call time       |Date of birth of the customer   |
| Status    | status of the repayment |

# **Let's Begin**

## **Knowing the Data**

### Import Libraries

In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

### Dataset Loading

In [28]:
# Function to load the data 
def DataLoader(path,Date=None,date_cols=None):
    """
    A function to load the datset 
    Argumet - Path(path to the data file)
    return - dataframe
    """
    try:
        dataframe = pd.read_excel(path,index_col=Date,parse_dates=date_cols)
        return dataframe
    except: # if path is incorrect or does not exist
        print("path does not find")

    finally:
        print("operation performed on the  dataset Location")

In [35]:
CommunicationHistory_df = DataLoader("CommunicationHistory.xlsx",'Call time',['Call time'])

operation performed on the  dataset Location

In [34]:
date_cols = ['Due Date','DOB']
portfolio_df = DataLoader("Portfolio_data.xlsx",date_cols=date_cols)

operation performed on the  dataset Location

### Dataset First View

In [36]:
CommunicationHistory_df.head()

,Loan Number,Campaign ID,Communication Operator Message ID,Status
Call time,,,,
2022-12-02 02:59:40.973000+00:00,16748071234,161584404,21a1f7b1ce4d23d558e300626d5016c2,completed
2022-12-02 03:57:51.335000+00:00,16734601234,161584404,edecb5cd796826ef8bcde2f4814f16c2,completed
2022-12-02 04:34:26.950000+00:00,1631580,161307935,6a79ed24fa727ae9341f53a9df8816c2,completed
2022-12-02 04:34:57.213000+00:00,1631580,161307935,ce45ac657c26d5d10e6d1eb4aacc16c2,completed
2022-12-02 04:36:21.594000+00:00,1631580,161307935,6c864d7097f2df3eed4900ea892816c2,completed

In [37]:
portfolio_df.head()

   Loan Number   Due Date          State                  DOB  Loan Amount
0      1003431 2022-10-31      KARNATAKA  1987-02-09 00:00:00     240000.0
1      1004356 2022-10-31    MAHARASHTRA  1994-05-23 00:00:00      56000.0
2      1004464 2022-11-01  UTTAR PRADESH  1996-12-01 00:00:00      50000.0
3      1004626 2022-11-01         KERALA  1995-07-14 00:00:00      63000.0
4      1005011 2022-11-01    MAHARASHTRA  1994-05-30 00:00:00      50000.0

### Dataset Rows & Columns count

In [39]:
# Dataset Rows & Columns count
print(f"the CommunicationHistory dataset has toltal of  {CommunicationHistory_df.shape[0]} rows and {CommunicationHistory_df.shape[1]} columns")

the CommunicationHistory dataset has toltal of  70607 rows and 4 columns

In [40]:
# Dataset Rows & Columns count
print(f"the portfolio dataset has toltal of  {portfolio_df.shape[0]} rows and {portfolio_df.shape[1]} columns")

the portfolio dataset has toltal of  15962 rows and 5 columns

### Dataset Information

In [41]:
# Dataset Info
CommunicationHistory_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70607 entries, 2022-12-02 02:59:40.973000+00:00 to 2022-12-07 23:25:16.448000+00:00
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Loan Number                        70607 non-null  int64
 1   Campaign ID                        70607 non-null  int64
 2   Communication Operator Message ID  70597 non-null  object
 3   Status                             70607 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.7+ MB

In [42]:
# portfolio Dataset Info
portfolio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15962 entries, 0 to 15961
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Loan Number  15962 non-null  int64
 1   Due Date     15962 non-null  datetime64[ns]
 2   State        15962 non-null  object
 3   DOB          15961 non-null  object
 4   Loan Amount  15962 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 623.6+ KB

#### Duplicate Values

In [43]:
# CommunicationHistory Dataset Duplicate Value Count
CommunicationHistory_df.duplicated().sum()

0

In [44]:
# portfolio Dataset Duplicate Value Count
portfolio_df.duplicated().sum()

0

#### Missing Values/Null Values

In [45]:
# Missing Values/Null Values Count in CommunicationHistory dataset
CommunicationHistory_df.isna().sum().sort_values(ascending=False)

Communication Operator Message ID    10
Loan Number                           0
Campaign ID                           0
Status                                0
dtype: int64

In [46]:
# Missing Values/Null Values Count in portfolio dataset
portfolio_df.isna().sum().sort_values(ascending=False)

DOB            1
Loan Number    0
Due Date       0
State          0
Loan Amount    0
dtype: int64

### Dataset Description

In [47]:
CommunicationHistory_df.describe(include='all')

,Loan Number,Campaign ID,Communication Operator Message ID,Status
count,7.060700e+04,7.060700e+04,70597,70607
unique,NaN,NaN,70597,2
top,NaN,NaN,21a1f7b1ce4d23d558e300626d5016c2,completed
freq,NaN,NaN,1,70589
mean,2.387413e+06,1.681513e+08,NaN,NaN
std,1.077388e+08,2.845385e+06,NaN,NaN
min,8.727770e+05,1.354742e+08,NaN,NaN
25%,1.635118e+06,1.654490e+08,NaN,NaN
50%,1.705979e+06,1.678209e+08,NaN,NaN
75%,1.778082e+06,1.707402e+08,NaN,NaN
max,1.674807e+10,1.735366e+08,NaN,NaN

In [48]:
portfolio_df.describe(include='all')

,Loan Number,Due Date,State,DOB,Loan Amount
count,1.596200e+04,15962,15962,15961,15962.000000
unique,NaN,30,40,6741,NaN
top,NaN,2022-11-25 00:00:00,MAHARASHTRA,1998-01-01 00:00:00,NaN
freq,NaN,1080,2538,56,NaN
first,NaN,2022-10-31 00:00:00,NaN,NaN,NaN
last,NaN,2022-11-29 00:00:00,NaN,NaN,NaN
mean,1.689427e+06,NaN,NaN,NaN,7362.359952
std,1.211048e+05,NaN,NaN,NaN,6398.129954
min,8.727770e+05,NaN,NaN,NaN,3000.000000
25%,1.640865e+06,NaN,NaN,NaN,5000.000000
50%,1.714308e+06,NaN,NaN,NaN,5017.000000
75%,1.778172e+06,NaN,NaN,NaN,7000.000000
max,1.881403e+06,NaN,NaN,NaN,240000.000000

In [55]:
#print unique value in categorical value 
#since the dataset is large numerical value whose unique number are less than should be focussed

def print_values(dataframe):
    for i in dataframe.columns.tolist():
        if dataframe[i].dtype=='O':
            print(f"the categorical column {i} have {dataframe[i].nunique()} unique values ")
            if dataframe[i].nunique() <=31 :
                print(f"the unique value in the columns are {dataframe[i].unique()}")
        else:
            print(f"the  numerical column {i} have {dataframe[i].nunique()} unique values ")
            if dataframe[i].nunique() <=15:
                print(f" the unique value in the columns are{dataframe[i].unique()}")

In [56]:
print_values(CommunicationHistory_df)

the  numerical column Loan Number have 11220 unique values
the  numerical column Campaign ID have 40 unique values
the categorical column Communication Operator Message ID have 70597 unique values
the categorical column Status have 2 unique values
the unique value in the columns are ['completed' 'FAILED']

In [57]:
print_values(portfolio_df)

the  numerical column Loan Number have 15962 unique values
the  numerical column Due Date have 30 unique values
the categorical column State have 40 unique values
the categorical column DOB have 6741 unique values
the  numerical column Loan Amount have 304 unique values

## Data Wrangling

**To perform opearationon dataset we have to merge the dataset,Since both the dataset have Loan number in common we would merge the dataset on Loan number **