# Project Name - Tinder Recommender system

## problem statement

*Tinder works on recommending match to the user in this our objective will be to make a model which on recommender system such that it will take user timing his previous experience habbits bio and Timing,and recommends people which user most likey to do the right swipe.our aim is to predit the person of a kind/habbits such that user finds it more instresting and tries to connect wth them*

## Understanding the variables

| **Column** |**Example**|
| ------------ | ----------|
| *user_id* |  fffe3100 |
| *user_name* | Edith Lopez  |
| *age* | *Row 3 Column 2* | 27 |
|*status*|Single|
|*sex*|Male|
|*orientation*|Straight|
|*drinks*|never|
|*drugs*|No|
|*height*| 66|
|*job*| other|
|*location*|oakland, california|
|*pets*|Dogs|
|*smokes*|no|
|*language*|english (fluently), spanish (poorly), sign language (poorly)|
|*new language*|intrested|
|*body_profile*|fit|
|*education_level*| 4|
|*dropout*|no |
|*language*||782|
|*bio*|i value communication and being open-minded.|
|*other_interest*|sports|

# project summary

**Dataset loading**
**Dataset wrangling**
**Datset modelling**
**Deployment**

# Let's begin

## Import libraries

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

## Load dataset

In [2]:
def dataseLoader(filelocation):
    """
    Argument - file to path location which is to be loaded
    return return dataframe 
    """
    try:
        dataframe = pd.read_csv(filelocation)
        return dataframe
    except:
        print("there is a error in file or it's location")

In [3]:
tinder_df = dataseLoader("data.csv")
#dataframe = pd.read_csv(filelocation)

### Datset first view

In [4]:
# first five rows of the dataset 
tinder_df.head()

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,...,smokes,language,new_languages,body_profile,education_level,dropped_out,bio,interests,other_interests,location_preference
0,fffe3100,Edith Lopez,27,single,f,gay,socially,never,66.0,medicine / health,...,no,"english (fluently), spanish (poorly), sign lan...",interested,athletic,4.0,no,bottom line i love life! i work hard and i lov...,sports,instruments,same state
1,fffe3200,Travis Young,26,single,m,gay,socially,never,68.0,other,...,no,"english (fluently), tagalog (okay), french (po...",interested,fit,3.0,no,"i'm a straightforward, genuine, fun loving (i'...",painting,instruments,anywhere
2,fffe3300,Agnes Smith,20,seeing someone,f,bisexual,socially,sometimes,69.0,other,...,sometimes,"english (fluently), sign language (poorly), fr...",interested,fit,2.0,no,mmmmm yummy tacosss. yoga is where it's at. i ...,instruments,dancing,same city
3,fffe3400,Salvador Klaver,27,single,m,bisexual,socially,sometimes,68.0,computer / hardware / software,...,no,english,not interested,average,3.0,no,i'm a stealth geek. that special mix of techni...,sketching,acting,same city
4,fffe3500,Elana Sewell,22,single,f,bisexual,often,sometimes,68.0,other,...,yes,english,not interested,average,2.0,yes,with the whisper of the wind i was weaved into...,craft,designing,same city

## dataset preprocessing

#### **Information about the dataset**

In [5]:
#information about the dataset 
tinder_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              2001 non-null   object
 1   username             2001 non-null   object
 2   age                  2001 non-null   int64
 3   status               2001 non-null   object
 4   sex                  2001 non-null   object
 5   orientation          2001 non-null   object
 6   drinks               2001 non-null   object
 7   drugs                2001 non-null   object
 8   height               2001 non-null   float64
 9   job                  2001 non-null   object
 10  location             2001 non-null   object
 11  pets                 2001 non-null   object
 12  smokes               2001 non-null   object
 13  language             2001 non-null   object
 14  new_languages        2001 non-null   object
 15  body_profile         2001 non-null   object
 16  education_level      2001 non-null   float64
 17  dropped_out          2001 non-null   object
 18  bio                  2001 non-null   object
 19  interests            2001 non-null   object
 20  other_interests      2001 non-null   object
 21  location_preference  2001 non-null   object
dtypes: float64(2), int64(1), object(19)
memory usage: 344.0+ KB

In [6]:
# shape and size of the dataset
print(tinder_df.shape)

(2001, 22)

*the dataset has total of 2 float dtype columns 1 int dtype columns and 19 object dtype columns*

#### **Understanding the variables**

In [7]:
# Number of unique element in the columns 
tinder_df.nunique()

user_id                2001
username               1995
age                      52
status                    4
sex                       2
orientation               3
drinks                    6
drugs                     3
height                   25
job                      21
location                 70
pets                     15
smokes                    5
language                575
new_languages             3
body_profile             12
education_level           5
dropped_out               2
bio                    2001
interests                31
other_interests          31
location_preference       3
dtype: int64

In [8]:
# decription of the columns 
tinder_df.describe(include = 'all')

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,...,smokes,language,new_languages,body_profile,education_level,dropped_out,bio,interests,other_interests,location_preference
count,2001,2001,2001.000000,2001,2001,2001,2001,2001,2001.000000,2001,...,2001,2001,2001,2001,2001.000000,2001,2001,2001,2001,2001
unique,2001,1995,NaN,4,2,3,6,3,NaN,21,...,5,575,3,12,NaN,2,2001,31,31,3
top,fffe3100,James Davidson,NaN,single,m,straight,socially,never,NaN,other,...,no,english,not interested,average,NaN,no,bottom line i love life! i work hard and i lov...,music,music,same city
freq,1,2,NaN,1867,1139,1736,1393,1586,NaN,286,...,1630,545,1050,557,NaN,1898,1,155,158,1169
mean,NaN,NaN,33.072464,NaN,NaN,NaN,NaN,NaN,68.289855,NaN,...,NaN,NaN,NaN,NaN,2.932534,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,10.483189,NaN,NaN,NaN,NaN,NaN,3.895246,NaN,...,NaN,NaN,NaN,NaN,0.812371,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,55.000000,NaN,...,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,65.000000,NaN,...,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,30.000000,NaN,NaN,NaN,NaN,NaN,68.000000,NaN,...,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,NaN,71.000000,NaN,...,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,69.000000,NaN,NaN,NaN,NaN,NaN,83.000000,NaN,...,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN

*here we can see that there are some categorical columns which can not change into numrical vaues using one hot encoding as it may lead us to the curse of dimensionality which will eventually make our model overfitt . so here we will use embedding to convert categorical column into numerical ones*

*before we start wrangling the data we will drop the two columns of the data which do not add any meaning to our particular rows*

In [9]:
# drop unnecesary columns 
tinder_df.drop(["user_id","username"],axis =1 ,inplace = True)

## dataset wrangling

*we will count the different combination of people based on their sex drinking habbit and drugs consuming*

In [12]:
unique_drug_counts = tinder_df.groupby(['sex', 'drinks', 'drugs'])['drugs'].count()
unique_drug_counts = unique_drug_counts.reset_index(name='unique_drug_count')
unique_drug_counts.sort_values("drugs")

   sex       drinks      drugs  unique_drug_count
0    f  desperately      never                  2
26   m   very often      never                  5
23   m     socially      never                610
21   m       rarely      never                119
18   m        often      never                 46
16   m   not at all      never                 93
10   f     socially      never                519
14   m  desperately      never                  2
4    f        often      never                 36
2    f   not at all      never                 54
7    f       rarely      never                100
24   m     socially      often                  5
19   m        often      often                  4
5    f        often      often                  1
8    f       rarely      often                  2
11   f     socially      often                  2
27   m   very often      often                  4
15   m  desperately  sometimes                  5
13   f   very often  sometimes                  3
17   m   not at all  sometimes                  7
12   f     socially  sometimes                103
20   m        often  sometimes                 58
3    f   not at all  sometimes                  3
22   m       rarely  sometimes                 23
6    f        often  sometimes                 23
9    f       rarely  sometimes                 12
25   m     socially  sometimes                154
1    f  desperately  sometimes                  2
28   m   very often  sometimes                  4